<ion-header>

  <ion-toolbar color="tertiary">
    <ion-title>Calculadora</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>

    <ion-item>
      <ion-input
        label="Número 1:"
        labelPlacement="floating"
        placeholder="Número 1: "
        [(ngModel)]="numero1">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Número 2:"
        labelPlacement="floating"
        placeholder="Número 2"
        [(ngModel)]="numero2"
      ></ion-input>
    </ion-item>

    <ion-list>

      <ion-item>

        <ion-select aria-label="operacao" value="operacao" placeholder="Soma" [(ngModel)]="operacao">
          <ion-select-option value="+">Soma</ion-select-option>
          <ion-select-option value="-">Substração</ion-select-option>
          <ion-select-option value="*">Multiplicação</ion-select-option>
          <ion-select-option value="/">Divisão</ion-select-option>
        </ion-select>

      </ion-item>

    </ion-list>

    <ion-button (click)="calcular()" color="tertiary">Calcular</ion-button>

    <ion-button (click)="limpar()" color="tertiary">Limpar</ion-button>

    <ion-item *ngIf="mensagem">
      <ion-text color="primary">{{mensagem}}</ion-text>
    </ion-item>

</ion-content>
