<ion-header [translucent]="true">

  <ion-toolbar color = "danger">

    <ion-title>
      Atividades
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <h1><b>Ionic / Angular - Lista de Exercícios</b></h1><br>

  <h3><b>Dupla: </b>Eduarda Melo da Silva e Sabrina Comin Nart</h3><br><br>

  <a routerLink="/exercicio1">Ir para o Exercício 1</a><br><br>
  <a routerLink="/exercicio2">Ir para o Exercício 2</a><br><br>
  <a routerLink="/exercicio3">Ir para o Exercício 3</a><br><br>
  <a routerLink="/exercicio4">Ir para o Exercício 4</a><br><br>
  <a routerLink="/exercicio5">Ir para o Exercício 5</a><br><br>

</ion-content>
